@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

#__next {
  @apply flex min-h-screen flex-col text-gray-900;
}

*:focus-visible {
  @apply rounded border-pink-300 outline-none ring ring-pink-300;
}

/* Override default tailwindcss-forms styling */

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: #f9a8d4;
  border-color: #f9a8d4;
  @apply rounded border-pink-300 outline-none ring-2 ring-pink-300;
}

[type='checkbox'] {
  color: #ec4899;
}

/* Table */

tbody tr:last-child td:first-child {
  @apply rounded rounded-r-none rounded-t-none;
}

tbody tr:last-child td:last-child {
  @apply rounded rounded-l-none rounded-t-none;
}

tbody tr:last-child td:only-child {
  @apply rounded rounded-t-none;
}

@layer utilities {
  /* Add word-break attribute to the break-words (overflow-wrap: break-word) 
   utility class that does not work due to unknown reason. */

  .break-words {
    word-break: break-word;
  }

  /* Remove default spinner from input[type=number] */

  .spinner-none::-webkit-inner-spin-button,
  .spinner-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .spinner-none {
    -moz-appearance: textfield;
  }
}

/* Loader */

.loader {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}

.loader::before {
  content: '';
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: -20px;
  animation: loader-shadow 2s ease infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: rgb(236, 72, 153);
  animation: loader-transform 2s ease infinite;
}

@keyframes loader-shadow {
  0% {
    box-shadow: 20px 20px rgba(236, 72, 153, 0.8), 20px 40px rgba(236, 72, 153, 0.8),
      0px 40px rgba(236, 72, 153, 0.8);
  }

  16% {
    box-shadow: 20px 20px rgba(37, 99, 235, 0.6), 20px 40px rgba(236, 72, 153, 0.8),
      0px 40px rgba(236, 72, 153, 0.8);
  }

  33% {
    box-shadow: 20px 20px rgba(37, 99, 235, 0.6), 20px 40px rgba(37, 99, 235, 0.6),
      0px 40px rgba(236, 72, 153, 0.8);
  }

  50% {
    box-shadow: 20px 20px rgba(37, 99, 235, 0.6), 20px 40px rgba(37, 99, 235, 0.6),
      0px 40px rgba(37, 99, 235, 0.6);
  }

  66% {
    box-shadow: 20px 20px rgba(236, 72, 153, 0.8), 20px 40px rgba(37, 99, 235, 0.6),
      0px 40px rgba(37, 99, 235, 0.6);
  }

  83% {
    box-shadow: 20px 20px rgba(236, 72, 153, 0.8), 20px 40px rgba(236, 72, 153, 0.8),
      0px 40px rgba(37, 99, 235, 0.6);
  }

  100% {
    box-shadow: 20px 20px rgba(236, 72, 153, 0.8), 20px 40px rgba(236, 72, 153, 0.8),
      0px 40px rgba(236, 72, 153, 0.8);
  }
}

@keyframes loader-transform {
  0% {
    background: rgb(236, 72, 153);
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }

  16% {
    background: rgb(59, 130, 246);
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }

  33% {
    background: rgb(59, 130, 246);
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }

  50% {
    background: rgb(59, 130, 246);
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }

  66% {
    background: rgb(236, 72, 153);
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }

  83% {
    background: rgb(236, 72, 153);
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }

  100% {
    background: rgb(236, 72, 153);
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
}

/* Simplebar */

@import 'simplebar/dist/simplebar.min.css';

.simplebar-content:before,
.simplebar-content:after {
  content: '';
}

.simplebar-scrollbar:before {
  @apply bg-gray-500;
}
